
# build artefacts
build
dist/
docs/

# eslint
eslint.log
eslint.tap

# Mac 
.DS_Store

# Maven
target/

# Node
node_modules/
npm-debug.log

# Visual Studio Code
.vscode
.vscode/tasks.json
.vs

# others
log
bin